@charset "ISO-8859-1";
a {
  color: #f0ad4e;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #ffffff;
  text-decoration: underline;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ec971f;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;  
  background-color: #ec971f;
}